:root {
    --roxo: #87509C;
    --ciano: #17C2A4;
    --laranja: #EB7D4B;
    --branco: #FFFFFF;
    --branco-secundario: #E7F1F8;
    --amarelo: #FFDD99;
    --rosa: #D74680;
    --azul: #3C5499;
    --azul-secundario: #344B8E;
    --azul-terciario: #3C4761;
    --fonte-principal: "Titillium Web";
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 300;
}

/*Header*/
.cabecalho {
    background-color: var(--roxo);
    color: var(--branco);
    padding-top: 1em;
    padding-bottom: 8em;
}

.cabecalho__navbar {
    display: flex;
    justify-content: space-between;
}

.cabecalho__logo {
    margin: 3em 8em;
}

.cabecalho__lista {
    display: flex;
    padding: 1em;
    margin: 3em 8em;
}

.cabecalho__lista-item {
    padding: 0.5em;
    margin: 0.5em;
    font-weight: 400;
    text-transform: uppercase;
}

.cabecalho__conteudo {
    text-align: center;
    margin-top: 2em;
}

.cabecalho__conteudo--titulo {
    font-size: 42.15px;
    font-weight: 700;
    margin: 1em;
    margin-bottom: 1.5em;
    line-height: 64px;
}

.cabecalho__conteudo--botao{
    font-size: 18px;
    font-weight: 700;
    background-color: var(--laranja);
    border-radius: 6px;
    padding: 1.5em 6em;
    box-shadow: 0px 4px #df6025;
}

/*First Block*/

.bloco-um {
    background-color: var(--ciano);
    color: var(--branco);
    text-align: center;
    padding: 3.5em;
}

.bloco-um__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1em;
}

.bloco-um__descricao {
    font-size: 18px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 2em;
    line-height: 27px;
}

.bloco-um__lista {
    display: flex;
    justify-content: space-between;
}

.lista--item {
    padding: 1.8em;
}

.lista--item__titulo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em 0;
}

.lista--item__imagem {
    margin-bottom: 1em;
}

.lista--item__descricao {
    line-height: 24px;
}

.team {
    background-color: var(--branco-secundario);
    color: var(--azul-terciario);
    text-align: center;
    padding: 4em;
}

.team__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1em;
}

.team__descricao {
    font-size: 18px;
    font-weight: 400;
    margin: 1em 0;
}

.team__lista {
    display: flex;
    padding: 2em;
}

.team__lista-titulo {
    font-size: 24px;
    font-weight: 700;
    padding: 0.3em;
}

.team__lista-subtitulo {
    font-weight: 400;
    color:#30BAE7;
}

.team__lista-descricao {
    line-height: 24px;
    padding: 1em;
    margin: 0.5em 1em;
}

.lista__icons-img {
    padding: 0.3em;
}

.skills {
    color: var(--azul-terciario);
    background-color: var(--branco); 
    text-align: center; 
    padding: 3em;
}

.skills__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1.5em;
}

.skills__descricao {
    font-size: 18px;
    font-weight: 400;
    padding: 2em;
    line-height: 27px;
}

.skills__lista {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 1em 0;
}

.skills__lista-item {
    padding: 1.5em;
}

.skills__lista-porcentagem {
    font-size: 50px;
    padding: 1em;
    background-image: url(../Projeto-Figma-pratica/img/90.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.skills__lista-porcentagem2 {
    font-size: 50px;
    padding: 1em;
    background-image: url(../Projeto-Figma-pratica/img/75.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.skills__lista-porcentagem3 {
    font-size: 50px;
    padding: 1em;
    background-image: url(../Projeto-Figma-pratica/img/70.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.skills__lista-porcentagem4 {
    font-size: 50px;
    padding: 1em;
    background-image: url(../Projeto-Figma-pratica/img/85.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.skills__lista-titulo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em;
}

.portifolio {
    color: #393939;
    background-color: var(--amarelo);
    text-align: center;
    padding: 2em;
}

.portifolio__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1.5em;
}

.portifolio__descricao {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    padding: 1em;
}

.portifolio__lista {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 4em;
}


.portifolio__lista--buton {
    padding: 0.6em 1.2em;
    margin: 0 0.5em;
    background-color: rgb(56, 56, 56, .1);
    border-radius: 2px;
}

.portifolio__lista--text {
    font-size: 18px;
    font-weight: 400;
}

.portifolio__screens  {
    display: flex;
    justify-content: center;
}

.portifolio__screens-row {
    padding: 0 1em;
}

.screens__content-pc {
    padding: 1em;
}

.screen--descricao {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
    color: #1b1b1b;
}

.portifolio__botao {
    font-size: 18px;
    font-weight: 600;
    color: var(--branco);
    background-color: var(--ciano);
    border-radius: 6px;
    padding: 1em 3em;
    box-shadow: 0px 4px #139981;
}

.portifolio__botao--container {
    margin: 6em 0;
}

.feedback {
    color: var(--branco);
    background-color: var(--rosa);
    text-align: center;
    padding: 2em 2em 8em 2em;
}

.feedback__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1em;
}

.feedback__descricao {
    font-size: 18px;
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.feedback__container {
    text-align: start;
    display: flex;
    padding: 0 5em;
    margin: 0 4em;
}

.feedback__content {
    display: grid;
    padding: 1em;
    justify-content: flex-start;
    grid-template-columns: auto auto;
    column-gap: 2em;
}

.feedback__content--text {
    align-self: center;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
    line-height: 20px;
}

.feedback__content--name {
    font-size: 19px;
    font-weight: 700;
    grid-column: 2;
    grid-row: 2;
}

.feedback__content--ocupation {
    font-size: 16px;
    font-weight: 200;
    color: var(--amarelo);
    grid-column: 2;
    grid-row: 3;
    margin-top: 0.5em;
}

.contact {
    padding: 4em;
    color: var(--branco);
    background-color: var(--azul);
    text-align: center;
}

.contact__title {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1em;
}

.contact__descricao {
    font-size: 18px;
    font-weight: 400;
    padding: 2em 0 2em 0;
}

.contact__input-line {
    padding: 1em;
}

.input__name {
    width: 21.5em;
    margin: 1em;
    border-radius: 3px;
    height: 3em;
    background-color: #273A71;
}

.input__name::placeholder {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    color: var(--branco);
    padding-left: 1em;
}

.input__email {
    width: 21.5em;
    margin: 1em;
    border-radius: 3px;
    height: 3em;
    background-color: #273A71;
}

.input__email::placeholder {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    color: var(--branco);
    padding-left: 1em;
}

.input__text {
    border-radius: 3px;
    background-color: #273A71;
}

.input__text::placeholder {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    color: var(--branco);
    padding-left: 1em;
    padding-top: 1em;
}

.contact__button {
    display: block;
    margin: 3em auto;
    font-size: 18px;
    font-weight: 600;
    background-color:#30BAE7;
    border-radius: 6px;
    padding: 1em 4em;
    box-shadow: 0px 4px #13a3d3;
}
