:root {
    --roxo: #87509C;
    --ciano: #17C2A4;
    --laranja: #EB7D4B;
    --branco: #FFFFFF;
    --branco-secundario: #E7F1F8;
    --amarelo: #FFDD99;
    --rosa: #D74680;
    --azul: #3C5499;
    --azul-secundario: #344B8E;
    --azul-terciario: #3C4761;
    --fonte-principal: "Titillium Web";
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 300;
}

/*Header*/
.cabecalho {
    background-color: var(--roxo);
    color: var(--branco);
    padding-top: 1em;
    padding-bottom: 8em;
}

.cabecalho__navbar {
    display: flex;
    justify-content: space-between;
}

.cabecalho__logo {
    margin: 3em 8em;
}

.cabecalho__lista {
    display: flex;
    padding: 1em;
    margin: 3em 8em;
}

.cabecalho__lista-item {
    padding: 0.5em;
    margin: 0.5em;
    font-weight: 400;
    text-transform: uppercase;
}

.cabecalho__conteudo {
    text-align: center;
    margin-top: 2em;
}

.cabecalho__conteudo--titulo {
    font-size: 42.15px;
    font-weight: 700;
    margin: 1em;
    margin-bottom: 1.5em;
    line-height: 64px;
}

.cabecalho__conteudo--botao{
    font-size: 18px;
    font-weight: 700;
    background-color: var(--laranja);
    border-radius: 6px;
    padding: 1.5em 6em;
    box-shadow: 0px 4px #df6025;
}

/*First Block*/

.bloco-um {
    background-color: var(--ciano);
    color: var(--branco);
    text-align: center;
    padding: 3.5em;
}

.bloco-um__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1em;
}

.bloco-um__descricao {
    font-size: 18px;
    font-weight: 400;
    padding: 1em;
    margin-bottom: 2em;
    line-height: 27px;
}

.bloco-um__lista {
    display: flex;
    justify-content: space-between;
}

.lista--item {
    padding: 1.8em;
}

.lista--item__titulo {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1em 0;
}

.lista--item__imagem {
    margin-bottom: 1em;
}

.lista--item__descricao {
    line-height: 24px;
}

.team {
    background-color: var(--branco-secundario);
    color: var(--azul-terciario);
    text-align: center;
    padding: 4em;
}

.team__titulo {
    font-size: 40px;
    font-weight: 700;
    padding-top: 1em;
}

.team__descricao {
    font-size: 18px;
    font-weight: 400;
    margin: 1em 0;
}

.team__lista {
    display: flex;
    padding: 2em;
}

.team__lista-titulo {
    font-size: 24px;
    font-weight: 700;
    padding: 0.3em;
}

.team__lista-subtitulo {
    font-weight: 400;
    color:#30BAE7;
}

.team__lista-descricao {
    line-height: 24px;
    padding: 1em;
    margin: 0.5em 1em;
}

.lista__icons-img {
    padding: 0.3em;
}

